@charset "UTF-8";

/*declarção para retrato*/


main {
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

article {
    background-color: white;
    width: 400px;
    height: 245px;
    margin: auto ;
    box-shadow: 2px 2px  5px  rgba(0, 0, 0, 0.438);
    border-radius: 10px 10px 0px 0px;
}

#primeiro {
    width: 380px;
    height: 225px;
    background-color: var(--cor01);
    margin: auto ;
    padding: 10px;
    box-shadow: 2px 2px  5px  rgba(0, 0, 0, 0.438);
    border-radius: 0px;
}

#segundo {
    width: 360px;
    height: 150px;
    background-color: var(--cor02);
    margin: auto ;
    padding: 20px;
    box-shadow: 2px 2px  5px  rgba(0, 0, 0, 0.438);
    border-radius: 0px 0px 10px 10px;
}   

#botao a {
    text-align: center;
    background-color: var(--cor04);
    padding: 15px 100px 15px 100px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    font-weight: bold;
}