@charset "UTF-8" ;

@media screen and (min-width: 768px) { 
    section {

        width: 760px;
        height: 400px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }

    #sedas {
        border-radius: 5px 0px 0px 5px;
    }

    #luxo {
        border-radius: 0px 5px 5px 0px;
    }
}