@charset "UTF-8";

/*estilo para todos*/

:root {
    --cor01: #16259c7a;
    --cor02: #233eff;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor02);
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px var(--cor01);
    padding: 10px;
}