@charset "UTF-8"; 

@media screen and (min-width: 600px) {

    header .itens_menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: transparent;
        position: relative;
        top: 17px;
        left: 0;
    }

    header .bnt_menu > #hamburguer {
        display: none;
    }
}