@charset "UTF-8";

/*para todas a medias*/


@media print {

    #smartphone {display: none;}
    #talbet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}

    main {
        border: 2px solid black;
        width: 90vw;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color: black;
        text-shadow: none;
    }

    
}

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: url(../imagem/back-tablet.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    #smartphone {display: none;}
    #talbet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px) {
    body {
        background-image: url(../imagem/back-pc.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    #smartphone {display: none;}
    #talbet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width:1200px) {
    body {
        background-image: url(../imagem/back-tv.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    #smartphone {display: none;}
    #talbet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}