footer {
    ul {
        display: flex;
        justify-content: space-evenly;

        li {
            padding: .5em;
            border-radius: .5em;
            &:hover {
                background-color: $cor01;
                transition: .5s;
            }
        }
    }
}
