footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul > li {
    padding: .5em;
    border-radius: .5em;
}

footer ul > li:hover {
    background-color: $cor01;
    transition: .5s;
}